{% extends "./base.html" %}


{% block content %}

<br />
<br />
<div class="container">
    <h1 style="text-align:center;">RiskAssess - Disease Index</h1>
    <p style="text-align:center;">This is a directory of all the diseases that RiskAssess can generate assessments for,
        this index provides in depth.
        details about the disease including its symptoms.</p>

    <h2>Diabetes</h2>
    <div style="text-align: center; margin-top: 20px">
        <img style="max-width: 600px" src="static/img/diabetes.png" /><br /><br />
    </div>
    <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is
        your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps
        glucose from food get into your cells to be used for energy.</p>
    <h3>What health problems can people with diabetes develop? </h3>
    <p>Over time, high blood glucose leads to problems such as</p>

    <ul>
        <li>heart disease</li>
        <li>stroke</li>
        <li>kidney disease</li>
        <li>eye problems</li>
        <li>dental disease</li>
        <li>nerve damage</li>
        <li>foot problems</li>
    </ul>
    <br>
    <hr>
    <br>


</div>

{% endblock %}



